* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    font-size: 14px;
    text-align: center;
    min-width: 1024px;
}

a {
    text-decoration: none;
}

input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.wrapper {
    @media only screen and (min-width: 1529px) {
        width: 1500px;
    }
    @media only screen and (max-width: 1528px) and (min-width: 1276px) {
        width: 1248px;
    }
    @media only screen and (max-width: 1275px) {
        width: 996px;
    }
}

#header-box {
    position: relative;
    .banner-background {
        position: absolute;
        background-image: url("../img/titlebk");
        background-position: center 0;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .2);
    }
    .new-banner {
        position: relative;
        overflow: hidden;
        @media only screen and (min-width: 1529px) {
            height: 520px;
        }
        @media only screen and (max-width: 1528px) and (min-width: 1276px) {
            height: 500px;
        }
        @media only screen and (max-width: 1275px) {
            height: 480px;
        }
        .title {
            margin: 118px auto 40px;
            width: 540px;
            height: 54px;
            line-height: 54px;
            color: #fff;
            font-size: 44px;
            font-weight: 200;
        }
        .search-box {
            position: relative;
            font-size: 14px;
            form {
                position: relative;
                display: inline-block;
                input {
                    margin: 0 auto;
                    padding: 0 10px;
                    width: 536px;
                    height: 40px;
                    border: 1px solid rgba(255, 255, 255, .95);
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, .95);
                    color: #444;
                    box-sizing: border-box;
                }
                a {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 40px;
                    background: url("../img/icon_search.svg") 9px 9px no-repeat;
                }
            }
            #hot-word {
                width: 536px;
                margin: 10px auto;
                color: rgba(255, 255, 255, .7);
                a {
                    display: inline-block;
                    padding-right: 5px;
                    color: white;
                }
            }
        }
        .author {
            position: absolute;
            width: 100%;
            bottom: 20px;
            div {
                display: inline-block;
                margin: 0px auto;
                text-align: right;
                color: white;
            }
        }
    }
    #header {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 48px;
        transition: background .15s ease-in-out;
    }
}

.default-header {
    #huaban {
        background: url(../img/logo_wt.svg) 0 0 no-repeat;
    }
    a {
        color: white;
    }
    #login-btn {
        border: 1px solid rgba(255, 255, 255, .8);
    }
    #register-btn {
        border: 1px solid #ec414d;
        background: #ec414d;
    }
    form {
        display: none;
    }
    .menu-nav{
        background: url(../img/menu_sprite.svg) -50px -558px no-repeat;
    }
}

.changed-header {
    background: #fff;
    #huaban {
        background: url(../img/logo.svg) 0 0 no-repeat;
    }
    a {
        color: #444;
    }
    form {
        text-align: left;
        display: block;
        position: relative;
        overflow: hidden;
        height: 32px;
        margin-top: 7px;
        font-size: 14px;
        color: #bbb;
        background: #fafafa;
        border: 1px solid #ddd;
        border-radius: 2px;
        box-sizing: border-box;
        div {
            display: inline-block;
            width: 74px;
            height: 100%;
            padding: 8px 10px;
            box-sizing: border-box;
            color: #999;
            i {
                background: url(../img/ic-arrow-down.svg);
                display: block;
                float: right;
                width: 12px;
                height: 12px;
                margin-left: 8px;
                margin-top: 2px;
            }
        }
        input {
            line-height: 32px;
            font-size: 14px;
            border: 0;
        }
        a {
            display: block;
            width: 32px;
            height: 32px;
            background: url(../img/menu_sprite.svg) 5px -93px no-repeat;
            position: absolute;
            right: 0;
            top: 1px;
            cursor: pointer;
        }
    }
    #login-btn {
        background: #ededed;
        border: 1px solid #ededed;
    }
    #register-btn {
        color: white;
        border: 1px solid #ec414d;
        background: #ec414d;
    }
    .menu-nav{
        background: url(../img/menu_sprite.svg) 0 -248px no-repeat;
    }
}

#manu-bar {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    overflow: hidden;
    #left-part {
        float: left;
        margin-top: 10px;
        #huaban {
            float: left;
            margin-right: 20px;
            width: 80px;
            height: 28px;
        }
        a {
            float: left;
            line-height: 28px;
            margin-right: 25px;
        }
        .menu-nav {
            position: relative;
            float: left;
            width: 24px;
            height: 28px;
            cursor: pointer;
            margin-right: 20px;
        }
        .cut-off {
            display: inline-block;
            margin: 2.5px 20px 2.5px -5px;
            width: 1px;
            height: 20px;
            background-color: #ddd;
        }
    }
    #right-part {
        float: right;
        margin-left: 20px;
        line-height: 48px;
        a {
            display: inline-block;
            height: 32px;
            padding: 0px 15px;
            border-radius: 2px;
            line-height: 32px;
        }
        #login-btn {
            margin-right: 10px;
        }
    }
}

#body-box {
    position: relative;
    margin: 0 auto;
}

.recommend-line {
    position: relative;
    padding: 20px 0;
    text-align: center;
    a {
        font-size: 16px;
        color: #999;
    }
    &:before,
    &:after {
        display: block;
        position: absolute;
        top: 28px;
        width: 44%;
        content: "";
        border-top: 1px solid #ededed;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

.get-more-line {
    .recommend-line();
    &:before,
    &:after {
        width: 22%;
        top: 38px;
    }
    a {
        display: inline-block;
        padding: 10px;
        width: 49%;
        background-color: #f7f7f7;
    }
}

.follow-row {
    margin-top: 0;
    height: 178px;
    margin: 0px -16px 0 0;
    overflow: hidden;
    .image-box {
        position: relative;
        display: block;
        float: left;
        margin: 0 16px 16px 0;
        width: 236px;
        height: 170px;
        border-radius: 4px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
}

.display-row {
    margin-bottom: 4px;
    display: table;
    .normal-box {
        color: #999;
        position: relative;
        float: left;
        box-sizing: border-box;
        margin-right: 4px;
        img {
            height: 100%;
        }
        .attach-info {
            position: absolute;
            left: 30px;
            bottom: 24px;
            background: rgba(0, 0, 0, .4);
            width: 160px;
            height: 56px;
            padding: 8px 16px;
            box-sizing: border-box;
            text-align: left;
            .title-info {
                position: absolute;
                left: -30px;
                width: 30px;
                height: 56px;
                padding: 0;
                top: 0;
                background: url(../img/box_title_sprite.svg) no-repeat;
                background-color: rgba(50, 50, 50, .4);
                background-position: -236px 7px;
            }
            h2 {
                color: white;
                font-size: 18px;
                line-height: 20px;
            }
            @media only screen and (min-width: 1529px) {
                display: none;
            }
            @media only screen and (max-width: 1528px) {
                display: block;
            }
        }
        .top-info {
            text-align: left;
            position: relative;
            margin-bottom: 4px;
            padding: 10px 16px;
            width: 100%;
            height: 50%;
            background: #fafafa;
            box-sizing: border-box;
            .title-info {
                display: inline-block;
                height: 40px;
                width: 80px;
                padding: 4px 0px 5px;
                background: url(../img/box_title_sprite.svg) no-repeat;
                background-position: 0px -80px;
            }
            h2 {
                color: black;
                margin-bottom: 3px;
                font-size: 20px;
                line-height: 20px;
                font-weight: 400;
            }
            p {
                font-size: 12px;
                line-height: 1.35em;
            }
            span {
                display: inline-block;
                margin-top: 10px;
                line-height: 20px;
                a {
                    margin-left: 5px;
                    color: #9e7e6b;
                }
            }
        }
        .bottom-info {
            .top-info();
            text-align: right;
        }
        .info-tra-left {
            position: absolute;
            top: 21%;
            left: -14px;
            z-index: 1;
            width: 14px;
            height: 28px;
            background: url(../img/info_tra.svg) no-repeat;
            background-position: 0 0;
        }
        .info-tra-right {
            position: absolute;
            top: 74%;
            right: -14px;
            z-index: 1;
            width: 14px;
            height: 28px;
            background: url(../img/info_tra.svg) no-repeat;
            background-position: 0 -51px;
        }
        @media only screen and (min-width: 1529px) {
            width: 296px;
            height: 296px;
        }
        @media only screen and (max-width: 1528px) and (min-width: 1276px) {
            width: 308px;
            height: 308px;
        }
        @media only screen and (max-width: 1275px) {
            width: 245px;
            height: 245px;
        }
    }
    .change-box {
        background-color: #fafafa;
        @media only screen and (min-width: 1529px) {
            display: block;
        }
        @media only screen and (max-width: 1528px) {
            display: none;
        }
    }
}

.category-head {
    height: 22px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ededed;
    font-size: 16px;
    span {
        float: left;
        color: #444;
    }
    a {
        float: right;
        color: #9E7E6B;
    }
}

.flex-box {
    display: flex;
    margin-bottom: 42px;
    height: 182px;
    ul {
        flex-grow: 1;
        text-align: left;
        list-style: none;
        li {
            padding: 5px 0;
        }
    }
}

#footer-box {
    background: #333;
    padding: 25px 0 0;
    .footer {
        position: relative;
        display: flex;
        margin: 0 auto;
        .left-col {
            width: 200px;
            display: inline-block;
            vertical-align: top;
            text-align: left;
            a:first-child {
                font-size: 16px;
                color: #ddd;
                padding-bottom: 20px;
                
            }
            a {
                color: #bbb;
                display: block;
                padding-bottom: 15px;
                text-decoration: none;
            }
            &:last-child {
                position: absolute;
                right: 0;
                border: 1px solid #555;
                border-width: 0 1px;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 20px;
                width: 248px;
            }
        }
    }
    .copy-right {
        background-color: #000;
        color: #999;
        margin-top: 30px;
        height: 60px;
        line-height: 60px;
        width: 100%;
    }
}