* {
  margin: 0px;
  padding: 0px;
  outline: none;
}
body {
  font-size: 14px;
  text-align: center;
  min-width: 1024px;
}
a {
  text-decoration: none;
}
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
@media only screen and (min-width: 1529px) {
  .wrapper {
    width: 1500px;
  }
}
@media only screen and (max-width: 1528px) and (min-width: 1276px) {
  .wrapper {
    width: 1248px;
  }
}
@media only screen and (max-width: 1275px) {
  .wrapper {
    width: 996px;
  }
}
#header-box {
  position: relative;
}
#header-box .banner-background {
  position: absolute;
  background-image: url("../img/titlebk");
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#header-box .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
#header-box .new-banner {
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 1529px) {
  #header-box .new-banner {
    height: 520px;
  }
}
@media only screen and (max-width: 1528px) and (min-width: 1276px) {
  #header-box .new-banner {
    height: 500px;
  }
}
@media only screen and (max-width: 1275px) {
  #header-box .new-banner {
    height: 480px;
  }
}
#header-box .new-banner .title {
  margin: 118px auto 40px;
  width: 540px;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 44px;
  font-weight: 200;
}
#header-box .new-banner .search-box {
  position: relative;
  font-size: 14px;
}
#header-box .new-banner .search-box form {
  position: relative;
  display: inline-block;
}
#header-box .new-banner .search-box form input {
  margin: 0 auto;
  padding: 0 10px;
  width: 536px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.95);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #444;
  box-sizing: border-box;
}
#header-box .new-banner .search-box form a {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("../img/icon_search.svg") 9px 9px no-repeat;
}
#header-box .new-banner .search-box #hot-word {
  width: 536px;
  margin: 10px auto;
  color: rgba(255, 255, 255, 0.7);
}
#header-box .new-banner .search-box #hot-word a {
  display: inline-block;
  padding-right: 5px;
  color: white;
}
#header-box .new-banner .author {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
#header-box .new-banner .author div {
  display: inline-block;
  margin: 0px auto;
  text-align: right;
  color: white;
}
#header-box #header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 48px;
  transition: background 0.15s ease-in-out;
}
.default-header #huaban {
  background: url(../img/logo_wt.svg) 0 0 no-repeat;
}
.default-header a {
  color: white;
}
.default-header #login-btn {
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.default-header #register-btn {
  border: 1px solid #ec414d;
  background: #ec414d;
}
.default-header form {
  display: none;
}
.default-header .menu-nav {
  background: url(../img/menu_sprite.svg) -50px -558px no-repeat;
}
.changed-header {
  background: #fff;
}
.changed-header #huaban {
  background: url(../img/logo.svg) 0 0 no-repeat;
}
.changed-header a {
  color: #444;
}
.changed-header form {
  text-align: left;
  display: block;
  position: relative;
  overflow: hidden;
  height: 32px;
  margin-top: 7px;
  font-size: 14px;
  color: #bbb;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
}
.changed-header form div {
  display: inline-block;
  width: 74px;
  height: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  color: #999;
}
.changed-header form div i {
  background: url(../img/ic-arrow-down.svg);
  display: block;
  float: right;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-top: 2px;
}
.changed-header form input {
  line-height: 32px;
  font-size: 14px;
  border: 0;
}
.changed-header form a {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/menu_sprite.svg) 5px -93px no-repeat;
  position: absolute;
  right: 0;
  top: 1px;
  cursor: pointer;
}
.changed-header #login-btn {
  background: #ededed;
  border: 1px solid #ededed;
}
.changed-header #register-btn {
  color: white;
  border: 1px solid #ec414d;
  background: #ec414d;
}
.changed-header .menu-nav {
  background: url(../img/menu_sprite.svg) 0 -248px no-repeat;
}
#manu-bar {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  overflow: hidden;
}
#manu-bar #left-part {
  float: left;
  margin-top: 10px;
}
#manu-bar #left-part #huaban {
  float: left;
  margin-right: 20px;
  width: 80px;
  height: 28px;
}
#manu-bar #left-part a {
  float: left;
  line-height: 28px;
  margin-right: 25px;
}
#manu-bar #left-part .menu-nav {
  position: relative;
  float: left;
  width: 24px;
  height: 28px;
  cursor: pointer;
  margin-right: 20px;
}
#manu-bar #left-part .cut-off {
  display: inline-block;
  margin: 2.5px 20px 2.5px -5px;
  width: 1px;
  height: 20px;
  background-color: #ddd;
}
#manu-bar #right-part {
  float: right;
  margin-left: 20px;
  line-height: 48px;
}
#manu-bar #right-part a {
  display: inline-block;
  height: 32px;
  padding: 0px 15px;
  border-radius: 2px;
  line-height: 32px;
}
#manu-bar #right-part #login-btn {
  margin-right: 10px;
}
#body-box {
  position: relative;
  margin: 0 auto;
}
.recommend-line {
  position: relative;
  padding: 20px 0;
  text-align: center;
}
.recommend-line a {
  font-size: 16px;
  color: #999;
}
.recommend-line:before,
.recommend-line:after {
  display: block;
  position: absolute;
  top: 28px;
  width: 44%;
  content: "";
  border-top: 1px solid #ededed;
}
.recommend-line:before {
  left: 0;
}
.recommend-line:after {
  right: 0;
}
.get-more-line {
  position: relative;
  padding: 20px 0;
  text-align: center;
}
.get-more-line a {
  font-size: 16px;
  color: #999;
}
.get-more-line:before,
.get-more-line:after {
  display: block;
  position: absolute;
  top: 28px;
  width: 44%;
  content: "";
  border-top: 1px solid #ededed;
}
.get-more-line:before {
  left: 0;
}
.get-more-line:after {
  right: 0;
}
.get-more-line:before,
.get-more-line:after {
  width: 22%;
  top: 38px;
}
.get-more-line a {
  display: inline-block;
  padding: 10px;
  width: 49%;
  background-color: #f7f7f7;
}
.follow-row {
  margin-top: 0;
  height: 178px;
  margin: 0px -16px 0 0;
  overflow: hidden;
}
.follow-row .image-box {
  position: relative;
  display: block;
  float: left;
  margin: 0 16px 16px 0;
  width: 236px;
  height: 170px;
  border-radius: 4px;
  overflow: hidden;
}
.follow-row .image-box img {
  height: 100%;
}
.display-row {
  margin-bottom: 4px;
  display: table;
}
.display-row .normal-box {
  color: #999;
  position: relative;
  float: left;
  box-sizing: border-box;
  margin-right: 4px;
}
.display-row .normal-box img {
  height: 100%;
}
.display-row .normal-box .attach-info {
  position: absolute;
  left: 30px;
  bottom: 24px;
  background: rgba(0, 0, 0, 0.4);
  width: 160px;
  height: 56px;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: left;
}
.display-row .normal-box .attach-info .title-info {
  position: absolute;
  left: -30px;
  width: 30px;
  height: 56px;
  padding: 0;
  top: 0;
  background: url(../img/box_title_sprite.svg) no-repeat;
  background-color: rgba(50, 50, 50, 0.4);
  background-position: -236px 7px;
}
.display-row .normal-box .attach-info h2 {
  color: white;
  font-size: 18px;
  line-height: 20px;
}
@media only screen and (min-width: 1529px) {
  .display-row .normal-box .attach-info {
    display: none;
  }
}
@media only screen and (max-width: 1528px) {
  .display-row .normal-box .attach-info {
    display: block;
  }
}
.display-row .normal-box .top-info {
  text-align: left;
  position: relative;
  margin-bottom: 4px;
  padding: 10px 16px;
  width: 100%;
  height: 50%;
  background: #fafafa;
  box-sizing: border-box;
}
.display-row .normal-box .top-info .title-info {
  display: inline-block;
  height: 40px;
  width: 80px;
  padding: 4px 0px 5px;
  background: url(../img/box_title_sprite.svg) no-repeat;
  background-position: 0px -80px;
}
.display-row .normal-box .top-info h2 {
  color: black;
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
.display-row .normal-box .top-info p {
  font-size: 12px;
  line-height: 1.35em;
}
.display-row .normal-box .top-info span {
  display: inline-block;
  margin-top: 10px;
  line-height: 20px;
}
.display-row .normal-box .top-info span a {
  margin-left: 5px;
  color: #9e7e6b;
}
.display-row .normal-box .bottom-info {
  text-align: left;
  position: relative;
  margin-bottom: 4px;
  padding: 10px 16px;
  width: 100%;
  height: 50%;
  background: #fafafa;
  box-sizing: border-box;
  text-align: right;
}
.display-row .normal-box .bottom-info .title-info {
  display: inline-block;
  height: 40px;
  width: 80px;
  padding: 4px 0px 5px;
  background: url(../img/box_title_sprite.svg) no-repeat;
  background-position: 0px -80px;
}
.display-row .normal-box .bottom-info h2 {
  color: black;
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
.display-row .normal-box .bottom-info p {
  font-size: 12px;
  line-height: 1.35em;
}
.display-row .normal-box .bottom-info span {
  display: inline-block;
  margin-top: 10px;
  line-height: 20px;
}
.display-row .normal-box .bottom-info span a {
  margin-left: 5px;
  color: #9e7e6b;
}
.display-row .normal-box .info-tra-left {
  position: absolute;
  top: 21%;
  left: -14px;
  z-index: 1;
  width: 14px;
  height: 28px;
  background: url(../img/info_tra.svg) no-repeat;
  background-position: 0 0;
}
.display-row .normal-box .info-tra-right {
  position: absolute;
  top: 74%;
  right: -14px;
  z-index: 1;
  width: 14px;
  height: 28px;
  background: url(../img/info_tra.svg) no-repeat;
  background-position: 0 -51px;
}
@media only screen and (min-width: 1529px) {
  .display-row .normal-box {
    width: 296px;
    height: 296px;
  }
}
@media only screen and (max-width: 1528px) and (min-width: 1276px) {
  .display-row .normal-box {
    width: 308px;
    height: 308px;
  }
}
@media only screen and (max-width: 1275px) {
  .display-row .normal-box {
    width: 245px;
    height: 245px;
  }
}
.display-row .change-box {
  background-color: #fafafa;
}
@media only screen and (min-width: 1529px) {
  .display-row .change-box {
    display: block;
  }
}
@media only screen and (max-width: 1528px) {
  .display-row .change-box {
    display: none;
  }
}
.category-head {
  height: 22px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ededed;
  font-size: 16px;
}
.category-head span {
  float: left;
  color: #444;
}
.category-head a {
  float: right;
  color: #9E7E6B;
}
.flex-box {
  display: flex;
  margin-bottom: 42px;
  height: 182px;
}
.flex-box ul {
  flex-grow: 1;
  text-align: left;
  list-style: none;
}
.flex-box ul li {
  padding: 5px 0;
}
#footer-box {
  background: #333;
  padding: 25px 0 0;
}
#footer-box .footer {
  position: relative;
  display: flex;
  margin: 0 auto;
}
#footer-box .footer .left-col {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#footer-box .footer .left-col a:first-child {
  font-size: 16px;
  color: #ddd;
  padding-bottom: 20px;
}
#footer-box .footer .left-col a {
  color: #bbb;
  display: block;
  padding-bottom: 15px;
  text-decoration: none;
}
#footer-box .footer .left-col:last-child {
  position: absolute;
  right: 0;
  border: 1px solid #555;
  border-width: 0 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 248px;
}
#footer-box .copy-right {
  background-color: #000;
  color: #999;
  margin-top: 30px;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
#elevator {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 99992;
}
#elevator a {
  display: block;
  margin-bottom: 5px;
  width: 40px;
  height: 36px;
  border-radius: 2px;
  background: url(../img/iconsprite_btbar.svg) 8px 6px no-repeat;
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#elevator a:nth-child(1) {
  visibility: hidden;
}
#elevator a:nth-child(2) {
  background-position: 8px -74px;
}
#elevator a:nth-child(3) {
  background-position: 8px -34px;
  margin-bottom: 0px;
}
body {
  background: #f5f5f5;
}
.wrapper {
  margin: 0px auto;
}
@media only screen and (min-width: 1529px) {
  .wrapper {
    width: 1496px;
  }
}
@media only screen and (max-width: 1528px) and (min-width: 1276px) {
  .wrapper {
    width: 1244px;
  }
}
@media only screen and (max-width: 1275px) {
  .wrapper {
    width: 992px;
  }
}
.btn {
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 12px;
  height: 28px;
  line-height: 28px;
  background: #ededed;
  border: 1px solid #ededed;
  cursor: pointer;
  text-decoration: none;
  color: #444;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 0 0 transparent;
}
.rbtn {
  text-shadow: none;
  background: #EC414D;
  color: #fff;
  box-shadow: none;
  border: 1px solid #EC414D;
}
#page {
  padding-top: 48px;
}
.banner-top {
  background: url(../img/4bd0663498b069d0cc43eaceb49dd191b2f72ac41a8cb);
  background-size: cover;
  background-position: center;
  height: 60px;
}
.banner-login {
  height: 120px;
  min-width: 992px;
  background: url(../img/login_header_blurbg.jpg) center;
  background-size: cover;
  color: #fff;
  text-align: left;
  overflow: hidden;
}
.banner-login .wrapper {
  padding-top: 10px;
  position: relative;
}
.banner-login .title {
  font-size: 22px;
  font-weight: 700;
  margin: 26px 0 8px;
}
.banner-login .login {
  position: absolute;
  right: 0;
  top: 20px;
  height: 263px;
  font-size: 0;
}
.banner-login .login a {
  display: inline-block;
  width: 54px;
  height: 54px;
  background: url(../img/icons_login_big.svg) no-repeat;
  margin-right: 15px;
}
.banner-login .login a:nth-child(2) {
  background-position: -80px 0;
}
.banner-login .login a:nth-child(3) {
  background-position: -160px 0;
}
.banner-login .login a:nth-child(4) {
  margin-right: 0;
  background-position: -240px 0;
}
.banner-login .login .white-line {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.banner-login .login .white-line:before {
  content: "";
  border-top: 1px solid #ededed;
  display: block;
  position: absolute;
  width: 40px;
  top: 8px;
  left: 0;
}
.banner-login .login .white-line:after {
  content: "";
  border-top: 1px solid #ededed;
  display: block;
  position: absolute;
  width: 40px;
  top: 8px;
  right: 0;
}
.banner-title {
  background: #151515;
  height: 261px;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  z-index: 2;
}
.banner-title > img {
  position: absolute;
  right: -60px;
  margin-top: -50px;
  width: 38%;
  min-width: 600px;
  min-height: 369px;
  opacity: .7;
  background-size: cover;
}
.banner-title .mask {
  position: absolute;
  background: linear-gradient(to left, #151515 0%, rgba(21, 21, 21, 0) 0%, rgba(21, 21, 21, 0) 0%, #151515 30%, #151515 100%);
  height: 100%;
  width: 100%;
}
.banner-title .explore-info {
  position: relative;
  z-index: 2;
  margin: 0 auto 20px auto;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
}
.banner-title .explore-info h1 {
  margin: 25px 0 3px 0;
  font-size: 32px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "helvetica neue", arial, sans-serif;
  font-weight: 500;
  text-shadow: none;
  letter-spacing: -0.0125em;
  padding: 0 0 12px;
  line-height: 1.1em;
}
.banner-title .explore-info .follow-btn {
  margin-bottom: 15px;
}
.banner-title .explore-info p {
  padding-bottom: 15px;
}
.banner-title .explore-info .follow-title {
  position: relative;
  padding-bottom: 15px;
  width: 300px;
  margin: 0 auto;
}
.banner-title .explore-info .follow-title i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/explore_icon.png);
  background-position: -95px 0;
}
.banner-title .explore-info .follow-title:before {
  display: block;
  position: absolute;
  top: 7px;
  width: 30px;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  content: "";
  left: 214px;
}
.banner-title .explore-info .follow-title:after {
  display: block;
  position: absolute;
  top: 7px;
  width: 30px;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  content: "";
  right: 214px;
}
.banner-title .explore-info .follower {
  display: inline-block;
  overflow: hidden;
  max-width: 30%;
  height: 48px;
  font-size: 0;
}
.banner-title .explore-info .follower a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.banner-title .explore-info .follower a img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
  border: 0;
  border-radius: 50%;
}
.banner-title .explore-info .follower a:last-child {
  margin-right: 0;
}
.explore-page {
  position: relative;
}
.explore-page .more-explore {
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
  background: #fcfcfc;
}
.explore-page .more-explore .more-explore-title {
  padding: 16px;
  text-align: center;
}
.explore-page .more-explore .more-explore-title i {
  display: inline-block;
  background: url(../img/explore_icon.png);
  background-position: -20px 1px;
  margin-right: 6px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.explore-page .more-explore .more-explore-body {
  overflow: hidden;
  margin-right: 16px;
  height: 178px;
}
@media only screen and (min-width: 1529px) {
  .explore-page .more-explore .more-explore-body {
    width: 1512px;
  }
}
@media only screen and (max-width: 1528px) and (min-width: 1276px) {
  .explore-page .more-explore .more-explore-body {
    width: 1260px;
  }
}
@media only screen and (max-width: 1275px) {
  .explore-page .more-explore .more-explore-body {
    width: 1008px;
  }
}
.explore-page .more-explore .more-explore-body a {
  position: relative;
  display: block;
  float: left;
  margin: 0 16px 16px 0;
  width: 236px;
  height: 170px;
  border-radius: 4px;
  overflow: hidden;
  line-height: 170px;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.explore-page .more-explore .more-explore-body a div {
  position: absolute;
  top: 0;
  line-height: 170px;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}
.explore-page .water-fall {
  margin-top: 16px;
  margin-left: -16px;
  position: relative;
}
.explore-page .water-fall .data-item {
  position: absolute;
  left: -200px;
  top: 1000px;
  width: 236px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.02);
  margin-left: 16px;
  margin-bottom: 16px;
}
.explore-page .water-fall .data-item img {
  width: 100%;
}
.explore-page .water-fall .data-item p {
  line-height: 1.35em;
  padding: 0 15px;
  margin: 10px 0;
  text-align: left;
}
.explore-page .water-fall .data-item p span {
  display: inline-block;
  width: auto;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  margin-right: 10px;
  color: #8c7e7e;
}
.explore-page .water-fall .data-item p span i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  vertical-align: bottom;
  background: url(../img/bt_action_icons.svg);
}
.explore-page .water-fall .data-item p span .rt {
  background-position: -30px 0;
}
.explore-page .water-fall .data-item p span .lk {
  background-position: 0px 0;
}
.explore-page .water-fall .data-item .user-info {
  overflow: hidden;
  padding: 0 15px;
}
.explore-page .water-fall .data-item .user-info img {
  margin: 16px 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  float: left;
}
.explore-page .water-fall .data-item .user-info .user-info-body {
  text-align: left;
  margin-left: 34px;
  height: 51px;
  padding: 15px 0 0 10px;
  line-height: 1.5;
  color: #999;
}
.explore-page .water-fall .data-item .user-info .user-info-body a {
  color: #9E7E6B;
}
